/*
        Helios 1.0 by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

a
{
    border-bottom: solid 1px #ddd;
}

hr
{
    border-top: solid 1px #777;
    border-bottom: solid 1px #777;
}

.timestamp
{
    color: #777;
}

/* Lists */

ul.divided
{
}

ul.divided li
{
    border-top: solid 1px #777;
}

ul.menu
{
}

ul.menu li
{
    border-left: solid 1px #777;
}

ul.icons
{
    background: #333;
    -ms-behavior: url('css/PIE.htc');
}

/* Buttons */

.button
{
    -ms-behavior: url('css/PIE.htc');
}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

.icon
{
}

.icon.circled
{
    -ms-behavior: url('css/PIE.htc');
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
    -ms-behavior: url('css/backgroundsize.min.htc');
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav
{
}

#nav > ul
{
}

#nav > ul:before,
#nav > ul:after
{
    border-top: solid 1px #777;
    border-bottom: solid 1px #777;
}

#nav > ul > li
{
    -ms-behavior: url('css/PIE.htc');
}

#nav > ul > li.active
{
    border-color: #999;
}

.dropotron
{
    background: #fff;
    -ms-behavior: url('css/PIE.htc');
}

.dropotron li
{
    border-color: #eee;
    padding-right: 1em;
    color: #5b5b5b;
}

.dropotron-level-0
{
    margin-top: 1em;
}

/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

.carousel
{
}

.carousel .forward,
.carousel .backward
{
    border-radius: 100%;
    background-color: #483949;
    width: 7em;
    height: 7em;
    margin-top: -3.5em;
    border-radius: 100%;
    -ms-behavior: url('css/PIE.htc');
}

.carousel .forward
{
    right: -3.5em;
}

.carousel .backward
{
    left: -3.5em;
}

.carousel .forward:before,
.carousel .backward:before
{
    display: none;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
}

#footer ul.divided li,
#footer ul.menu li,
#footer hr
{
    border-color: #3B373C;
}

#footer .icons
{
    background: #2F2930;
}

#footer .copyright
{
    color: #777;
}

#footer .copyright a
{
    color: #aaa;
    border: 0;
}

#footer .copyright a:hover
{
    color: #ccc;
}