/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Container */

body {
    min-width: 1200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Modifiers */

.container.small {
    width: 900px;
}

.container.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
}

/* Grid */

/* Cells */

.u12 { width: 100% }
.u11 { width: 91.6666666667% }
.u10 { width: 83.3333333333% }
.u9 { width: 75% }
.u8 { width: 66.6666666667% }
.u7 { width: 58.3333333333% }
.u6 { width: 50% }
.u5 { width: 41.6666666667% }
.u4 { width: 33.3333333333% }
.u3 { width: 25% }
.u2 { width: 16.6666666667% }
.u1 { width: 8.3333333333% }
.\-11u { margin-left: 91.6666666667% }
.\-10u { margin-left: 83.3333333333% }
.\-u9 { margin-left: 75% }
.\-u8 { margin-left: 66.6666666667% }
.\-7u { margin-left: 58.3333333333% }
.\-u6 { margin-left: 50% }
.\-5u { margin-left: 41.6666666667% }
.\-u4 { margin-left: 33.3333333333% }
.\-3u { margin-left: 25% }
.\-2u { margin-left: 16.6666666667% }
.\-1u { margin-left: 8.3333333333% }

.row > * {
    padding: 48px 0 0 48px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row + .row > * {
    padding-top: 48px;
}

.row {
    margin-left: -48px;
}

/* Rows */

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row:first-child > * {
    padding-top: 0;
}

.row > * {
    padding-top: 0;
}

/* Modifiers */

/* Flush */

.row.flush {
    margin-left: 0;
}

.row.flush > * {
    padding: 0 !important;
}

/* Quarter */

.row.quarter > * {
    padding: 12px 0 0 12px;
}

.row.quarter + .row.quarter > * {
    padding-top: 12px;
}

.row.quarter {
    margin-left: -12px;
}

/* Half */

.row.half > * {
    padding: 24px 0 0 24px;
}

.row.half + .row.half > * {
    padding-top: 24px;
}

.row.half {
    margin-left: -24px;
}

/* One and (a) Half */

.row.oneandhalf > * {
    padding: 72px 0 0 72px;
}

.row.oneandhalf + .row.oneandhalf > * {
    padding-top: 72px;
}

.row.oneandhalf {
    margin-left: -72px;
}

/* Double */

.row.double > * {
    padding: 96px 0 0 96px;
}

.row.double + .row.double > * {
    padding-top: 96px;
}

.row.double {
    margin-left: -96px;
}