/*
        Helios 1.0 by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

.wrapper
{
    padding-left: 2em;
    padding-right: 2em;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
}

#header .inner
{
    padding-left: 2em;
    padding-right: 2em;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
    padding-left: 2em;
    padding-right: 2em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    padding-left: 2em;
    padding-right: 2em;
}


