/*
        Helios 1.0 by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
Tablet Portrait
*/





.adpage .row .u6{
    margin: 3em;
    text-align: center;
}