/*
        Helios 1.0 by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body,input,textarea,select
{
    font-size: 14pt;
    line-height: 1.75em;
}

/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

.carousel
{
    padding: 1.5em 0 1.5em 0;
}

.carousel .reel
{
    padding: 0 1.5em 0 1.5em;
}

.carousel article
{
    width: 18em;
    margin: 0 1.25em 0 0;
}



/*********************************************************************************/
/* Custom Styles                                                                      */
/*********************************************************************************/

.homepage .image img{
    max-height: 450px;
}


.noticias .image img{
    max-height: 450px;
}

/*********************************************************************************/
/* Caballeros                                                                     */
/*********************************************************************************/

.item img,
.item--big img {
    max-height: 630px;
}


.manga .style1 .container, .historia .style1 .container{
    width: 100%;
}


.manga .style1 .row *, .historia .style1 .container #content{
    padding: 0;
}
.historia .style1 .container article#main > .row{
    padding-right: 2em;
}

.manga .style1 .row, .historia .style1 .row{
    padding: 0;
    margin: 0;
}


.chapter_infierno .style3 .image img{
    height: 300px;
}

#features .image img{
    height: 300px;
}

.caballeros #main .image img{
    height: 300px;
}
.galeria #content header{
    width: 700px;
    margin: auto;
}

.galeria #content header h2{
    color: #fff;
}



.the_lost_canvas .u4 .image img{
    height: 300px;
}