@charset 'UTF-8';

@font-face {
    font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.eot?v=3.2.1');
    src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body.paused *
{
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

body
{
    background: #f0f4f4;
    color: #5b5b5b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

body,input,textarea,select
{
    font-size: 15pt;
    line-height: 1.85em;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 400;
    color: #483949;
    line-height: 1.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong
{
    font-weight: 600;
}

h2
{
    font-size: 2.85em;
}

h3
{
    font-size: 1.25em;
}

h4
{
    font-size: 1em;
    margin: 0 0 0.25em 0;
}

.byline
{
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 1.5em;
}

strong, b
{
    font-weight: 400;
    color: #483949;
}

em, i
{
    font-style: italic;
}

a
{
    color: inherit;
    text-decoration: none;
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

a:hover
{
    color: #FDD017;
    border-bottom-color: transparent;
}

sub
{
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup
{
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

blockquote
{
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table
{
    margin-bottom: 1em;
}

p
{
    text-align: justify;
}

.clear
{
    clear: both;
}

header
{
    margin: 0 0 1em 0;
}

header .byline
{
    margin-bottom: 1em;
}

footer
{
    margin: 2.5em 0 0 0;
}

hr
{
    position: relative;
    display: block;
    border: 0;
    top: 4.5em;
    margin-bottom: 9em;

    height: 6px;
    border-top: solid 1px rgba(128,128,128,0.2);
    border-bottom: solid 1px rgba(128,128,128,0.2);
}

hr:before,
hr:after
{
    content: '';
    position: absolute;
    top: -8px;
    display: block;
    width: 1px;
    height: 21px;
    background: rgba(128,128,128,0.2);			
}

hr:before
{
    left: -1px;
}

hr:after
{
    right: -1px;
}

.timestamp
{
    color: rgba(128,128,128,0.75);
    font-size: 0.8em;
}

/* Sections/Articles */

section,
article
{
    margin-bottom: 3em;
}

section > :last-child,
article > :last-child
{
    margin-bottom: 0;
}

section:last-child,
article:last-child
{
    margin-bottom: 0;
}

.row > section,
.row > article
{
    margin-bottom: 0;
}

section.special > header,
section.special > footer,
article.special > header,
article.special > footer
{
    text-align: center;
}

/* Images */

.image
{
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
}

/* Uncomment the block below if you want linked images to highlight on hover */

/*
a.image:before
{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        -moz-transition: opacity 0.35s ease-in-out;
        -webkit-transition: opacity 0.35s ease-in-out;
        -o-transition: opacity 0.35s ease-in-out;
        -ms-transition: opacity 0.35s ease-in-out;
        transition: opacity 0.35s ease-in-out;
}

        a.image:hover:before
        {
                opacity: 0.15;
        }
*/

.image img
{
    display: block;
    width: 100%;
}

.image.full
{
    display: block;
    width: 100%;
}

.image.featured
{
    display: block;
    width: 100%;
    margin: 0 0 4em 0;
}

.image.left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img
{
    margin: 0 auto;
    width: auto;
}

/* Lists */

ul.style1
{
}

ul.actions
{
}

ul.divided
{
}

ul.divided li
{
    border-top: solid 1px rgba(128,128,128,0.2);
    padding-top: 1.5em;
    margin-top: 1.5em;
}

ul.divided li:first-child
{
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

ul.menu
{
    height: 1em;
    line-height: 1em;
}

ul.menu li
{
    display: inline-block;
    border-left: solid 1px rgba(128,128,128,0.2);
    padding-left: 1.25em;
    margin-left: 1.25em;
}

ul.menu li:first-child
{
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

ul.icons
{
    position: relative;
    background: rgba(128,128,128,0.05);
    border-radius: 4em;
    display: inline-block;
    padding: 0.35em 0.75em 0.35em 0.75em;
    font-size: 1.25em;
    cursor: default;
}

ul.icons li
{
    display: inline-block;
}

ul.icons li a
{
    display: inline-block;
    background: none;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 100%;
    border: 0;
    color: inherit;
}

ul.icons li a:hover
{
    color: #ef8376;
}

ol.style1
{
}

/* Forms */

form
{
}

form label
{
    display: block;
}

form input.text,
form select,
form textarea
{
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #ccc;
    width: 100%;
}

form input.text:hover,
form select:hover,
form textarea:hover
{
}

form input.text:focus,
form select:focus,
form textarea:focus
{
}

form textarea
{
    min-height: 9em;
}

form .formerize-placeholder
{
    color: #555 !important;
}

form ::-webkit-input-placeholder
{
    color: #555 !important;
}

form :-moz-placeholder
{
    color: #555 !important;
}

form ::-moz-placeholder
{
    color: #555 !important;
}

form :-ms-input-placeholder
{
    color: #555 !important;
}

form ::-moz-focus-inner
{
    border: 0;
}

/* Tables */

table
{
    width: 100%;
}

table.style1
{
    width: 100%;
}

table.style1 tbody tr:nth-child(2n+2)
{
    background: #f4f4f4;
}

table.style1 td
{
    padding: 0.5em 1em 0.5em 1em;
}

table.style1 th
{
    text-align: left;
    font-weight: 400;
    padding: 0.5em 1em 0.5em 1em;
}

table.style1 thead
{
    background: #444;
    color: #fff;
}

table.style1 tfoot
{
    background: #eee;
}

table.style1 tbody
{
}

/* Buttons */

.button
{
    position: relative;
    display: inline-block;
    background: #FDD017;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.65em 3em 0.65em 3em;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.button:hover
{
    color: #FDD017;
    background: #fff;
}

.button:active
{
}

.button.alt
{
}

.button.alt:hover
{
}

.button.alt:active
{
}

.button.small
{
}

.button.big
{
}

.button.huge
{
}

/* Posts */

.post
{
}

.post.stub
{
    text-align: center;
}

.post.stub header
{
    margin: 0;
}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

.icon
{
    text-decoration: none;
}

.icon span
{
    display: none;
}

.icon.circled
{
    position: relative;
    display: inline-block;
    background: #2b252c;
    color: #fff;
    border-radius: 100%;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    text-align: center;
    font-size: 1em;
}

.icon.circled:before
{
    font-size: 2em;
}

header .icon.circled
{
    margin: 0 0 2em 0;
}

.icon:before
{
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.icon-glass:before{content:"\f000";}
.icon-music:before{content:"\f001";}
.icon-search:before{content:"\f002";}
.icon-envelope-alt:before{content:"\f003";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-user:before{content:"\f007";}
.icon-film:before{content:"\f008";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-ok:before{content:"\f00c";}
.icon-remove:before{content:"\f00d";}
.icon-zoom-in:before{content:"\f00e";}
.icon-zoom-out:before{content:"\f010";}
.icon-power-off:before,.icon-off:before{content:"\f011";}
.icon-signal:before{content:"\f012";}
.icon-gear:before,.icon-cog:before{content:"\f013";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-file-alt:before{content:"\f016";}
.icon-time:before{content:"\f017";}
.icon-road:before{content:"\f018";}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.icon-upload:before{content:"\f01b";}
.icon-inbox:before{content:"\f01c";}
.icon-play-circle:before{content:"\f01d";}
.icon-rotate-right:before,.icon-repeat:before{content:"\f01e";}
.icon-refresh:before{content:"\f021";}
.icon-list-alt:before{content:"\f022";}
.icon-lock:before{content:"\f023";}
.icon-flag:before{content:"\f024";}
.icon-headphones:before{content:"\f025";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-barcode:before{content:"\f02a";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-book:before{content:"\f02d";}
.icon-bookmark:before{content:"\f02e";}
.icon-print:before{content:"\f02f";}
.icon-camera:before{content:"\f030";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-list:before{content:"\f03a";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-facetime-video:before{content:"\f03d";}
.icon-picture:before{content:"\f03e";}
.icon-pencil:before{content:"\f040";}
.icon-map-marker:before{content:"\f041";}
.icon-adjust:before{content:"\f042";}
.icon-tint:before{content:"\f043";}
.icon-edit:before{content:"\f044";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-plus-sign:before{content:"\f055";}
.icon-minus-sign:before{content:"\f056";}
.icon-remove-sign:before{content:"\f057";}
.icon-ok-sign:before{content:"\f058";}
.icon-question-sign:before{content:"\f059";}
.icon-info-sign:before{content:"\f05a";}
.icon-screenshot:before{content:"\f05b";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-ban-circle:before{content:"\f05e";}
.icon-arrow-left:before{content:"\f060";}
.icon-arrow-right:before{content:"\f061";}
.icon-arrow-up:before{content:"\f062";}
.icon-arrow-down:before{content:"\f063";}
.icon-mail-forward:before,.icon-share-alt:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-exclamation-sign:before{content:"\f06a";}
.icon-gift:before{content:"\f06b";}
.icon-leaf:before{content:"\f06c";}
.icon-fire:before{content:"\f06d";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-close:before{content:"\f070";}
.icon-warning-sign:before{content:"\f071";}
.icon-plane:before{content:"\f072";}
.icon-calendar:before{content:"\f073";}
.icon-random:before{content:"\f074";}
.icon-comment:before{content:"\f075";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-retweet:before{content:"\f079";}
.icon-shopping-cart:before{content:"\f07a";}
.icon-folder-close:before{content:"\f07b";}
.icon-folder-open:before{content:"\f07c";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-bar-chart:before{content:"\f080";}
.icon-twitter-sign:before{content:"\f081";}
.icon-facebook-sign:before{content:"\f082";}
.icon-camera-retro:before{content:"\f083";}
.icon-key:before{content:"\f084";}
.icon-gears:before,.icon-cogs:before{content:"\f085";}
.icon-comments:before{content:"\f086";}
.icon-thumbs-up-alt:before{content:"\f087";}
.icon-thumbs-down-alt:before{content:"\f088";}
.icon-star-half:before{content:"\f089";}
.icon-heart-empty:before{content:"\f08a";}
.icon-signout:before{content:"\f08b";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-pushpin:before{content:"\f08d";}
.icon-external-link:before{content:"\f08e";}
.icon-signin:before{content:"\f090";}
.icon-trophy:before{content:"\f091";}
.icon-github-sign:before{content:"\f092";}
.icon-upload-alt:before{content:"\f093";}
.icon-lemon:before{content:"\f094";}
.icon-phone:before{content:"\f095";}
.icon-unchecked:before,.icon-check-empty:before{content:"\f096";}
.icon-bookmark-empty:before{content:"\f097";}
.icon-phone-sign:before{content:"\f098";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-unlock:before{content:"\f09c";}
.icon-credit-card:before{content:"\f09d";}
.icon-rss:before{content:"\f09e";}
.icon-hdd:before{content:"\f0a0";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-bell:before{content:"\f0a2";}
.icon-certificate:before{content:"\f0a3";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-circle-arrow-left:before{content:"\f0a8";}
.icon-circle-arrow-right:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-globe:before{content:"\f0ac";}
.icon-wrench:before{content:"\f0ad";}
.icon-tasks:before{content:"\f0ae";}
.icon-filter:before{content:"\f0b0";}
.icon-briefcase:before{content:"\f0b1";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-group:before{content:"\f0c0";}
.icon-link:before{content:"\f0c1";}
.icon-cloud:before{content:"\f0c2";}
.icon-beaker:before{content:"\f0c3";}
.icon-cut:before{content:"\f0c4";}
.icon-copy:before{content:"\f0c5";}
.icon-paperclip:before,.icon-paper-clip:before{content:"\f0c6";}
.icon-save:before{content:"\f0c7";}
.icon-sign-blank:before{content:"\f0c8";}
.icon-reorder:before{content:"\f0c9";}
.icon-list-ul:before{content:"\f0ca";}
.icon-list-ol:before{content:"\f0cb";}
.icon-strikethrough:before{content:"\f0cc";}
.icon-underline:before{content:"\f0cd";}
.icon-table:before{content:"\f0ce";}
.icon-magic:before{content:"\f0d0";}
.icon-truck:before{content:"\f0d1";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-money:before{content:"\f0d6";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-columns:before{content:"\f0db";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-down:before{content:"\f0dd";}
.icon-sort-up:before{content:"\f0de";}
.icon-envelope:before{content:"\f0e0";}
.icon-linkedin:before{content:"\f0e1";}
.icon-rotate-left:before,.icon-undo:before{content:"\f0e2";}
.icon-legal:before{content:"\f0e3";}
.icon-dashboard:before{content:"\f0e4";}
.icon-comment-alt:before{content:"\f0e5";}
.icon-comments-alt:before{content:"\f0e6";}
.icon-bolt:before{content:"\f0e7";}
.icon-sitemap:before{content:"\f0e8";}
.icon-umbrella:before{content:"\f0e9";}
.icon-paste:before{content:"\f0ea";}
.icon-lightbulb:before{content:"\f0eb";}
.icon-exchange:before{content:"\f0ec";}
.icon-cloud-download:before{content:"\f0ed";}
.icon-cloud-upload:before{content:"\f0ee";}
.icon-user-md:before{content:"\f0f0";}
.icon-stethoscope:before{content:"\f0f1";}
.icon-suitcase:before{content:"\f0f2";}
.icon-bell-alt:before{content:"\f0f3";}
.icon-coffee:before{content:"\f0f4";}
.icon-food:before{content:"\f0f5";}
.icon-file-text-alt:before{content:"\f0f6";}
.icon-building:before{content:"\f0f7";}
.icon-hospital:before{content:"\f0f8";}
.icon-ambulance:before{content:"\f0f9";}
.icon-medkit:before{content:"\f0fa";}
.icon-fighter-jet:before{content:"\f0fb";}
.icon-beer:before{content:"\f0fc";}
.icon-h-sign:before{content:"\f0fd";}
.icon-plus-sign-alt:before{content:"\f0fe";}
.icon-double-angle-left:before{content:"\f100";}
.icon-double-angle-right:before{content:"\f101";}
.icon-double-angle-up:before{content:"\f102";}
.icon-double-angle-down:before{content:"\f103";}
.icon-angle-left:before{content:"\f104";}
.icon-angle-right:before{content:"\f105";}
.icon-angle-up:before{content:"\f106";}
.icon-angle-down:before{content:"\f107";}
.icon-desktop:before{content:"\f108";}
.icon-laptop:before{content:"\f109";}
.icon-tablet:before{content:"\f10a";}
.icon-mobile-phone:before{content:"\f10b";}
.icon-circle-blank:before{content:"\f10c";}
.icon-quote-left:before{content:"\f10d";}
.icon-quote-right:before{content:"\f10e";}
.icon-spinner:before{content:"\f110";}
.icon-circle:before{content:"\f111";}
.icon-mail-reply:before,.icon-reply:before{content:"\f112";}
.icon-github-alt:before{content:"\f113";}
.icon-folder-close-alt:before{content:"\f114";}
.icon-folder-open-alt:before{content:"\f115";}
.icon-expand-alt:before{content:"\f116";}
.icon-collapse-alt:before{content:"\f117";}
.icon-smile:before{content:"\f118";}
.icon-frown:before{content:"\f119";}
.icon-meh:before{content:"\f11a";}
.icon-gamepad:before{content:"\f11b";}
.icon-keyboard:before{content:"\f11c";}
.icon-flag-alt:before{content:"\f11d";}
.icon-flag-checkered:before{content:"\f11e";}
.icon-terminal:before{content:"\f120";}
.icon-code:before{content:"\f121";}
.icon-reply-all:before{content:"\f122";}
.icon-mail-reply-all:before{content:"\f122";}
.icon-star-half-full:before,.icon-star-half-empty:before{content:"\f123";}
.icon-location-arrow:before{content:"\f124";}
.icon-crop:before{content:"\f125";}
.icon-code-fork:before{content:"\f126";}
.icon-unlink:before{content:"\f127";}
.icon-question:before{content:"\f128";}
.icon-info:before{content:"\f129";}
.icon-exclamation:before{content:"\f12a";}
.icon-superscript:before{content:"\f12b";}
.icon-subscript:before{content:"\f12c";}
.icon-eraser:before{content:"\f12d";}
.icon-puzzle-piece:before{content:"\f12e";}
.icon-microphone:before{content:"\f130";}
.icon-microphone-off:before{content:"\f131";}
.icon-shield:before{content:"\f132";}
.icon-calendar-empty:before{content:"\f133";}
.icon-fire-extinguisher:before{content:"\f134";}
.icon-rocket:before{content:"\f135";}
.icon-maxcdn:before{content:"\f136";}
.icon-chevron-sign-left:before{content:"\f137";}
.icon-chevron-sign-right:before{content:"\f138";}
.icon-chevron-sign-up:before{content:"\f139";}
.icon-chevron-sign-down:before{content:"\f13a";}
.icon-html5:before{content:"\f13b";}
.icon-css3:before{content:"\f13c";}
.icon-anchor:before{content:"\f13d";}
.icon-unlock-alt:before{content:"\f13e";}
.icon-bullseye:before{content:"\f140";}
.icon-ellipsis-horizontal:before{content:"\f141";}
.icon-ellipsis-vertical:before{content:"\f142";}
.icon-rss-sign:before{content:"\f143";}
.icon-play-sign:before{content:"\f144";}
.icon-ticket:before{content:"\f145";}
.icon-minus-sign-alt:before{content:"\f146";}
.icon-check-minus:before{content:"\f147";}
.icon-level-up:before{content:"\f148";}
.icon-level-down:before{content:"\f149";}
.icon-check-sign:before{content:"\f14a";}
.icon-edit-sign:before{content:"\f14b";}
.icon-external-link-sign:before{content:"\f14c";}
.icon-share-sign:before{content:"\f14d";}
.icon-compass:before{content:"\f14e";}
.icon-collapse:before{content:"\f150";}
.icon-collapse-top:before{content:"\f151";}
.icon-expand:before{content:"\f152";}
.icon-euro:before,.icon-eur:before{content:"\f153";}
.icon-gbp:before{content:"\f154";}
.icon-dollar:before,.icon-usd:before{content:"\f155";}
.icon-rupee:before,.icon-inr:before{content:"\f156";}
.icon-yen:before,.icon-jpy:before{content:"\f157";}
.icon-renminbi:before,.icon-cny:before{content:"\f158";}
.icon-won:before,.icon-krw:before{content:"\f159";}
.icon-bitcoin:before,.icon-btc:before{content:"\f15a";}
.icon-file:before{content:"\f15b";}
.icon-file-text:before{content:"\f15c";}
.icon-sort-by-alphabet:before{content:"\f15d";}
.icon-sort-by-alphabet-alt:before{content:"\f15e";}
.icon-sort-by-attributes:before{content:"\f160";}
.icon-sort-by-attributes-alt:before{content:"\f161";}
.icon-sort-by-order:before{content:"\f162";}
.icon-sort-by-order-alt:before{content:"\f163";}
.icon-thumbs-up:before{content:"\f164";}
.icon-thumbs-down:before{content:"\f165";}
.icon-youtube-sign:before{content:"\f166";}
.icon-youtube:before{content:"\f167";}
.icon-xing:before{content:"\f168";}
.icon-xing-sign:before{content:"\f169";}
.icon-youtube-play:before{content:"\f16a";}
.icon-dropbox:before{content:"\f16b";}
.icon-stackexchange:before{content:"\f16c";}
.icon-instagram:before{content:"\f16d";}
.icon-flickr:before{content:"\f16e";}
.icon-adn:before{content:"\f170";}
.icon-bitbucket:before{content:"\f171";}
.icon-bitbucket-sign:before{content:"\f172";}
.icon-tumblr:before{content:"\f173";}
.icon-tumblr-sign:before{content:"\f174";}
.icon-long-arrow-down:before{content:"\f175";}
.icon-long-arrow-up:before{content:"\f176";}
.icon-long-arrow-left:before{content:"\f177";}
.icon-long-arrow-right:before{content:"\f178";}
.icon-apple:before{content:"\f179";}
.icon-windows:before{content:"\f17a";}
.icon-android:before{content:"\f17b";}
.icon-linux:before{content:"\f17c";}
.icon-dribbble:before{content:"\f17d";}
.icon-skype:before{content:"\f17e";}
.icon-foursquare:before{content:"\f180";}
.icon-trello:before{content:"\f181";}
.icon-female:before{content:"\f182";}
.icon-male:before{content:"\f183";}
.icon-gittip:before{content:"\f184";}
.icon-sun:before{content:"\f185";}
.icon-moon:before{content:"\f186";}
.icon-archive:before{content:"\f187";}
.icon-bug:before{content:"\f188";}
.icon-vk:before{content:"\f189";}
.icon-weibo:before{content:"\f18a";}
.icon-renren:before{content:"\f18b";}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

.wrapper
{
    background: #fff;
    margin: 0 0 2em 0;
    padding: 6em 0 6em 0;
}

.wrapper.style1
{
}

.wrapper.style2
{
    padding-top: 0;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
    position: relative;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    color: #fff;
    text-align: center;
    padding: 3.5em 0 3.5em 0;
    cursor: default;
    -moz-box-shadow:inset 0px -3px 44px #000000;
    -webkit-box-shadow:inset 0px -3px 44px #000000;
    box-shadow:inset 0px -3px 44px #000000;
}

.homepage #header
{
    padding: 4em 0 4em 0;
    background-image: url('../images/header_homepage.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.homepage #header .overlay
{
    content: '';
    background: #1C0920;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.homepage #header.ready .overlay
{
    opacity: 0;
}

#header .inner
{
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 4em 0 0 0;
}

#header h1
{
    color: #FDD017;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
}

.homepage #header h1
{
    font-size: 4em;
}

#header h1 a
{
    color: inherit;
}

#header .byline
{
    color: #FDD017;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}

#header .button
{
    border-radius: 100%;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    text-align: center;
    font-size: 1.25em;
    padding: 0;
}

#header header
{
    display: inline-block;
    background: #000;
    opacity: 0.7;
    padding: 0.8em;
}

#header footer
{
    margin: 1em 0 0 0;
}

#header hr
{
    top: 1.5em;
    margin-bottom: 3em;

    border-bottom-color: #FDD017;
    box-shadow: inset 0 1px 0 0 #FDD017;
}

#header hr:before,
#header hr:after
{
    background: #FDD017;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*text-align: center;*/
    /*padding: 0.6em 0 0.4em 0;*/
    z-index: 1;
    overflow: hidden;
    background: #f1c40f;
    -moz-box-shadow: 0px 7px 44px #000000;
    -webkit-box-shadow: 0px 7px 44px #000000;
    box-shadow: 0px 7px 44px #000000;

}

#nav > ul
{
    /*line-height: 0px;*/
    /*position: relative;*/
    /*display: inline-block;*/
    margin: 0;

    /*height: 21px;*/
    /*    border-left: solid 2px #FDD017;
        border-right: solid 2px #FDD017;*/
}

#nav > ul:before,
#nav > ul:after
{
    content: '';
    display: block;
    width: 300%;
    position: absolute;
    top: 50%;
    /*margin-top: -2px;*/

    /*height: 5px;*/
    /*    border-top: solid 2px #FDD017;
        border-bottom: solid 2px #FDD017;*/
}

#nav > ul:before
{
    left: 100%;
    margin-left: 1px;
}

#nav > ul:after
{
    right: 100%;
    margin-right: 1px;
}

#nav > ul > li
{
    display: inline-block;
    color: #fff;
    /*margin: -9px 0.5em 0 0.5em;*/
    padding: 0.5em 1em;
    text-align: center;
    font-size: 0.9em;
    border: solid 1px transparent;
    -moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}
#nav > ul > li .circled{
    margin: auto;
    margin-right: 0.3em;
    background: #fff;
    color: #FDD017;
}

#nav > ul > li:hover .circled{
    background: #FDD017;
    color: #fff;

}

#nav > ul > li.active
{
    border-color: rgba(192,192,192,0.35);
}

#nav > ul > li > a,
#nav > ul > li > span
{
    display: block;    
    font-weight: bold;
    text-decoration: none;
    border: 0;
    outline: 0;
}

#nav > ul > li:hover
{
    color: #FDD017;
    background: #fff;
}


#nav > ul > li > ul
{
    display: none;
}

.dropotron
{
    background: #fff;
    padding: 1em 1.25em 1em 1.25em;
    line-height: 2em;
    text-align: left;
    min-width: 13em;
    margin-top: -0.1em;
}

.dropotron li
{
    border-top: solid 1px rgba(128,128,128,0.2);
    color: #5b5b5b;
}

.dropotron li:first-child
{
    border-top: 0;
}

.dropotron li:hover
{
    color: #FDD017;
}

.dropotron li a,
.dropotron li span
{
    display: block;
    border: 0;
    padding: 0.5em 0 0.5em 0;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}

.dropotron-level-0
{
    font-size: 0.9em;
}

.dropotron-level-0:before
{
    content: '';
    position: absolute;
    left: 50%;
    top: -0.7em;
    margin-left: -0.75em;
    border-bottom: solid 0.75em rgba(255,255,255,0.975);
    border-left: solid 0.75em rgba(64,64,64,0);
    border-right: solid 0.75em rgba(64,64,64,0);
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
    background: #fff;
    text-align: center;
    padding: 4.5em 0 4.5em 0;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
}

#content > hr
{
    top: 3em;
    margin-bottom: 6em;
}

#content > section
{
    margin-bottom: 0;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
}

#sidebar > hr.first
{
    display: none;
}

#sidebar > hr
{
    top: 3em;
    margin-bottom: 6em;
}

#sidebar > section
{
    margin-bottom: 0;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main
{
}

#main section:first-of-type
{
    padding-top: 2em;
}		

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    position: relative;
    overflow: hidden;
    padding: 6em 0 6em 0;
    background: #2b252c;
    color: #fff;
}

#footer .icon.circled
{
    background: #fff;
    color: #2b252c;
}

#footer header
{
    text-align: center;
    cursor: default;
}

#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6
{
    color: #fff;
}

#footer .contact
{
    text-align: center;
}

#footer .contact p
{
    text-align: center;
    margin: 0 0 3em 0;
}

#footer .copyright
{
    text-align: center;
    color: rgba(128,128,128,0.75);
    font-size: 0.8em;
    cursor: default;
}

#footer .copyright a
{
    color: rgba(128,128,128,0.75);
}

#footer .copyright a:hover
{
    color: rgba(212,212,212,0.85);
}

/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

.carousel
{
    position: relative;
    overflow: hidden;
    padding: 2em 0 2em 0;
}

.carousel .forward,
.carousel .backward
{
    position: absolute;
    top: 50%;
    width: 6em;
    height: 12em;
    margin-top: -6em;
    cursor: pointer;
}

.carousel .forward
{
    right: 0;
}

.carousel .backward
{
    left: 0;
}

.carousel .forward:before,
.carousel .backward:before
{
    content: '';
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    background-color: rgba(72,57,73, 0.5);				
    position: absolute;
    top: 50%;
    margin-top: -3em;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after
{
    content: '';
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    margin: -1.5em 0 0 0;
    background: url('images/arrow.svg') no-repeat center center;
}

.carousel .forward:after
{
    right: -0.25em;
}

.carousel .backward:after
{
    left: -0.25em;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.carousel .forward:before
{
    right: -3em;
}

.carousel .backward:before
{
    left: -3em;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before
{
    background-color: rgba(239,131,118, 0.75);
}

.carousel .reel
{
    white-space: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0 2em 0 2em;
}

.carousel article
{
    display: inline-block;
    width: 18em;
    background: #fff;
    text-align: center;
    padding: 0 1em 3em 1em;
    margin: 0 2em 0 0;
    white-space: normal;
    opacity: 1.0;
    -moz-transition: opacity 0.75s ease-in-out;			
    -webkit-transition: opacity 0.75s ease-in-out;			
    -o-transition: opacity 0.75s ease-in-out;			
    -ms-transition: opacity 0.75s ease-in-out;			
    transition: opacity 0.75s ease-in-out;			
}

.carousel article.loading
{
    opacity: 0;
}

.carousel article .image
{
    position: relative;
    left: -1em;
    top: 0;
    width: auto;
    margin-right: -2em;
    margin-bottom: 3em;
}

.carousel article p
{
    text-align: center;
}
/*********************************************************************************/
/* Custom Styles                                                                      */
/*********************************************************************************/

.info{
    background: #000;
    opacity: 0.9;
    color: #fff;
    padding: 1em 2em;
    margin: 0.4em;
    text-align: center;
}

.info strong{
    display: block;
    font-weight: bold;
    color: inherit;
}

.cloth{
    text-align: center;
}

.cloth h3{
    text-transform: uppercase;
    font-weight: bold;
}

.cloth .image img{
    max-height: 70%;
    max-width: 70%;
    margin: auto;
}

.centered header{
    text-align: center;
}

.centered .saint{
    width: 100%;
}

/*********************************************************************************/
/* Diosa Athena                                                         */
/*********************************************************************************/

.diosa_athena #header{
    background-image: url('../images/caballeros/athena/athena-background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 5em 25em 5em 0em;
}

/*********************************************************************************/
/* Caballeoros de Oro Omega                                                       */
/*********************************************************************************/
.caballerodeoroomega #header{
    background-image: url('../images/caballeros/athena/dorados_omega.jpg');
    background-size: contain;
    background-position: center center;
    background-attachment: local;
    padding: 8em 0em 8em 0em;
}

/*.caballerodeoroomega .style1{
    background-image: url('../images/caballeros/athena/s.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}*/

/*********************************************************************************/
/* Caballeoros de Oro The Lost Canvas                                            */
/*********************************************************************************/

.caballerodeoro.the_lost_canvas #header{
    background-image: url('../images/caballeros/athena/dorados_.the_lost_canvas.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 8em 0em 8em 0em;
}

/*********************************************************************************/
/* Caballeoros de Oro                                                            */
/*********************************************************************************/
.dropotron li.caballerodeoro a:hover{
    color: #FDD017;
}

.caballerodeoro .style1{
    background-image: url('../images/caballeros/athena/el-reloj-de-fuego.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.caballerodeoro .boxsaint img{
    height: 350px;    
}

.caballerodeoro .boxsaint:hover div.info{
    background: #fff;
    color: #FDD017;
}

.caballerodeoro .boxsaint:hover{
    -moz-box-shadow: 0px 1px 49px #f1c40f;
    -webkit-box-shadow: 0px 1px 49px #f1c40f;
    box-shadow: 0px 1px 49px #f1c40f;
    border-radius: 20px;
}

.caballerodeoro .boxsaint:active{
    box-shadow: none;
    position: relative;
    top: -50px;
}


.caballerodeoro div.info{
    background: #FDD017;
    color: #000;
}

.caballerodeoro div.info strong{
    font-weight: bold;
}

.caballerodeoro #content a, .caballerodeoro .byline{
    color: #f1c40f;
}

.caballerodeoro #content a:hover{
    color: #fff;
}


.caballerodeoro .personalidad h3{
    color: #000;
    font-weight: bold;
}

/*********************************************************************************/
/* Caballeoros de Plata                                                          */
/*********************************************************************************/

.dropotron li.caballerodeplata a:hover{
    color: #bdc3c7;
}

.caballerodeplata #header{
    background-image: url('../images/caballeros/athena/caballeros_de_plata.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 11em 0em 11em 0em;
}

.caballerodeplata .style1{
    background-image: url('../images/caballeros/athena/santuario-plata.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.caballerodeplata #nav{
    background: #bdc3c7;
}

.caballerodeplata #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.caballerodeplata #nav > ul > li .circled{
    background: #fff;
    color: #bdc3c7;
}

.caballerodeplata #nav > ul > li:hover .circled{
    background: #bdc3c7;
    color: #fff;
}


.caballerodeplata #nav > ul > li:hover
{
    color: #bdc3c7;
    background: #fff;
}

.caballerodeplata #nav a:hover{
    color: #bdc3c7;
}

.caballerodeplata .dropotron li:hover{
    color: #bdc3c7;
}

.caballerodeplata #logo{
    color: #bdc3c7;
}

.caballerodeplata div.info strong{
    font-weight: bold;
}

.caballerodeplata div.info{
    background-color: #bdc3c7;
}

.caballerodeplata div.saint_box{
    margin-top: 0.9em;
    background: #bdc3c7;
    -moz-box-shadow: 6px 7px 0px #7f8c8d;
    -webkit-box-shadow: 6px 7px 0px #7f8c8d;
    box-shadow: 6px 7px 0px #7f8c8d;
}

.caballerodeplata div.saint_box:hover strong{
    color: #7f8c8d;
}

.caballerodeplata div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.caballerodeplata #content a, .caballerodeplata .byline{
    color: #bdc3c7;
}

.caballerodeplata #content a:hover{
    color: #fff;
}

/*********************************************************************************/
/* Caballeoros de Bronce                                                         */
/*********************************************************************************/
.dropotron li.caballerodebronce a:hover{
    color: #e67e22;
}

.caballerodebronce #header{
    background-image: url('../images/caballeros/athena/caballeros_de_bronce.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 7em 0em 7em 0em;
}

.caballerodebronce .style1{
    background-image: url('../images/caballeros/athena/el-coliseo.jpg');
    background-attachment: fixed;
}


.caballerodebronce #nav{
    background: #e67e22;
}

.caballerodebronce #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.caballerodebronce #nav > ul > li .circled{
    background: #fff;
    color: #e67e22;
}

.caballerodebronce #nav > ul > li:hover .circled{
    background: #e67e22;
    color: #fff;
}

.caballerodebronce #nav > ul > li:hover
{
    color: #e67e22;
    background: #fff;
}

.caballerodebronce #nav a:hover, .caballerodebronce .byline{
    color: #e67e22;
}

.caballerodebronce .dropotron li:hover{
    color:#e67e22;
}

.caballerodebronce .inner{
    top: 6em;
}

.caballerodebronce #logo{
    top: 20px;
    color: #e67e22;
}

.caballerodebronce div.info{
    margin-top: 0.9em;
}


.caballerodebronce .seiya div.info{
    background: #e74c3c;
    -moz-box-shadow: 6px 7px 0px #c03a2b;
    -webkit-box-shadow: 6px 7px 0px #c03a2b;
    box-shadow: 6px 7px 0px #c03a2b;
}

.caballerodebronce .shun div.info{
    background: #FF33CC;
    -moz-box-shadow: 6px 7px 0px #FF00CC;
    -webkit-box-shadow: 6px 7px 0px #FF00CC;
    box-shadow: 6px 7px 0px #FF00CC;
}

.caballerodebronce .shiryu div.info{
    background: #1abc9c;
    -moz-box-shadow: 6px 7px 0px #16a085;
    -webkit-box-shadow: 6px 7px 0px #16a085;
    box-shadow: 6px 7px 0px #16a085;
}

.caballerodebronce .ikki div.info{
    background: #e67e22;
    -moz-box-shadow: 6px 7px 0px #d35400;
    -webkit-box-shadow: 6px 7px 0px #d35400;
    box-shadow: 6px 7px 0px #d35400;
}

.caballerodebronce .hyoga div.info{
    background: #3498db;
    -moz-box-shadow: 6px 7px 0px #2980b9;
    -webkit-box-shadow: 6px 7px 0px #2980b9;
    box-shadow: 6px 7px 0px #2980b9;
}

.caballerodebronce .jabu div.info{
    background: #9b59b6;
    -moz-box-shadow: 6px 7px 0px #8e44ad;
    -webkit-box-shadow: 6px 7px 0px #8e44ad;
    box-shadow: 6px 7px 0px #8e44ad;
}

.caballerodebronce .ban div.info{
    background: #f39c12;
    -moz-box-shadow: 6px 7px 0px #d35400;
    -webkit-box-shadow: 6px 7px 0px #d35400;
    box-shadow: 6px 7px 0px #d35400;
}

.caballerodebronce .nachi div.info{
    background: #4ac7c1;
    -moz-box-shadow: 6px 7px 0px #749da1;
    -webkit-box-shadow: 6px 7px 0px #749da1;
    box-shadow: 6px 7px 0px #749da1;
}

.caballerodebronce .geki div.info{
    background: #34495e;
    -moz-box-shadow: 6px 7px 0px #2c3e50;
    -webkit-box-shadow: 6px 7px 0px #2c3e50;
    box-shadow: 6px 7px 0px #2c3e50;
}

.caballerodebronce .ichi div.info{
    background: #e0c9d9;
    -moz-box-shadow: 6px 7px 0px #968ba9;
    -webkit-box-shadow: 6px 7px 0px #968ba9;
    box-shadow: 6px 7px 0px #968ba9;
}

.caballerodebronce div.info:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.seiya div.info{
    background: #e74c3c;
}

.shun div.info{
    background: #FF33CC;
}

.shiryu div.info{
    background: #1abc9c;
}

.ikki div.info{
    background: #e67e22;
}

.hyoga div.info{
    background: #3498db;
}

.jabu div.info{
    background: #9b59b6;
}

.ban div.info{
    background: #f39c12;
}

.nachi div.info{
    background: #4ac7c1;
}

.geki div.info{
    background: #34495e;
}

.ichi div.info{
    background: #e0c9d9;
}

.caballerodebronce #content a{
    color: #d35400;
}

.caballerodebronce #content a:hover{
    color: #fff;
}

strong.seiya{
    color: #c03a2b;
}

strong.shun{
    color: #FF33CC;
}

strong.shiryu{
    color: #1abc9c;
}

strong.ikki{
    color: #e67e22;
}

strong.hyoga{
    color: #3498db;
}

strong.jabu{
    color: #9b59b6;
}

strong.ban{
    color: #f39c12;
}

strong.nachi{
    color: #4ac7c1;
}

strong.geki{
    color: #34495e;
}

strong.ichi{
    color: #e0c9d9;
}


/*********************************************************************************/
/* Dios Poseidon                                                     */
/*********************************************************************************/

.dios_odin #header{
    background-image: url('../images/caballeros/odin/odin-background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10em 30em 10em 0em;
}

.dios_odin .style1{
    background-image: url('../images/caballeros/odin/asgard.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.dios_odin #nav{
    background: #2c3e50;
}

.dios_odin #nav > ul > li
{
    color: #2980b9;
    border: solid 1px transparent;
}
.dios_odin #nav > ul > li .circled{
    background: #fff;
    color: #2980b9;
}

.dios_odin #nav > ul > li:hover .circled{
    background: #2980b9;
    color: #fff;
}

.dios_odin #nav > ul > li:hover
{
    color: #2980b9;
    background: #fff;
}

.dios_odin #nav a:hover{
    color: #2980b9;
}

.dios_odin .dropotron li:hover{
    color: #3498db;
}

.dios_odin .inner{
    top: 6em;
}

.dios_odin #logo{
    color: #2980b9;
}


.dios_odin div.saint_box{
    margin-top: 0.9em;
    background: #2980b9;
    -moz-box-shadow: 6px 7px 0px #34495e;
    -webkit-box-shadow: 6px 7px 0px #34495e;
    box-shadow: 6px 7px 0px #34495e;
}

.dios_odin div.saint_box:hover strong{
    color: #34495e;
}

.dios_odin div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.dios_odin #content a, .dios_odin .byline{
    color: #2980b9;
}

.dios_odin #content a:hover{
    color: #fff;
}

.dios_odin div.info{
    background-color: #2980b9;
}



/*********************************************************************************/
/* Dioses Guerreros                                                              */
/*********************************************************************************/

.dropotron li.dioses_guerreros a:hover{
    color: #2980b9;
}

.dioses_guerreros #header{
    background-image: url('../images/caballeros/odin/dioses_guerreros.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 6em 0em 6em 0em;
}

.dioses_guerreros .style1{
    background-image: url('../images/caballeros/odin/asgard.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.dioses_guerreros #nav{
    background: #2c3e50;
}

.dioses_guerreros #nav > ul > li
{
    color: #2980b9;
    border: solid 1px transparent;
}
.dioses_guerreros #nav > ul > li .circled{
    background: #fff;
    color: #2980b9;
}

.dioses_guerreros #nav > ul > li:hover .circled{
    background: #2980b9;
    color: #fff;
}

.dioses_guerreros #nav > ul > li:hover
{
    color: #2980b9;
    background: #fff;
}

.dioses_guerreros #nav a:hover{
    color: #2980b9;
}

.dioses_guerreros .dropotron li:hover{
    color: #3498db;
}

.dioses_guerreros .inner{
    top: 6em;
}

.dioses_guerreros #logo{
    color: #2980b9;
}


.dioses_guerreros div.saint_box{
    margin-top: 0.9em;
    background: #2980b9;
    -moz-box-shadow: 6px 7px 0px #34495e;
    -webkit-box-shadow: 6px 7px 0px #34495e;
    box-shadow: 6px 7px 0px #34495e;
}

.dioses_guerreros div.saint_box:hover strong{
    color: #34495e;
}

.dioses_guerreros div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.dioses_guerreros #content a, .dioses_guerreros .byline{
    color: #2980b9;
}

.dioses_guerreros #content a:hover{
    color: #fff;
}

.dioses_guerreros div.info{
    background-color: #2980b9;
}


/*********************************************************************************/
/* Dios Poseidon                                                     */
/*********************************************************************************/

.dios_poseidon #header{
    background-image: url('../images/caballeros/poseidon/poseidon-background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10em 0em 10em 25em;
}

.dios_poseidon  .style1{
    background-image: url('../images/caballeros/poseidon/marinos_background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.dios_poseidon  #nav{
    background: #f39c12;
}

.dios_poseidon  #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.dios_poseidon  #nav > ul > li .circled{
    background: #fff;
    color: #f1c40f;
}

.dios_poseidon  #content a, .dios_poseidon .byline{
    color: #f39c12;
}

.dios_poseidon  #content a:hover{
    color: #fff;
}

.dios_poseidon  div.saint_box{
    margin-top: 0.9em;
    background: #F39D12;
    -moz-box-shadow: 6px 7px 0px #e67e22;
    -webkit-box-shadow: 6px 7px 0px #e67e22;
    box-shadow: 6px 7px 0px #e67e22;
}

.dios_poseidon  div.saint_box:hover strong{
    color: #FDC717;
}

.dios_poseidon  div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.dios_poseidon  div.info{
    background-color: #F39D12;
}


/*********************************************************************************/
/* Generales Marinos                                                            */
/*********************************************************************************/

.dropotron li.generales_marinos a:hover{
    color: #FDD017;
}

.generales_marinos #header{
    background-image: url('../images/caballeros/poseidon/generales_marinos.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 12em 0em 12em 0em;
}

.generales_marinos .style1{
    background-image: url('../images/caballeros/poseidon/marinos_background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.generales_marinos #nav{
    background: #f39c12;
}

.generales_marinos #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.generales_marinos #nav > ul > li .circled{
    background: #fff;
    color: #f1c40f;
}

.generales_marinos #content a, .generales_marinos .byline{
    color: #f39c12;
}

.generales_marinos #content a:hover{
    color: #fff;
}

.generales_marinos div.saint_box{
    margin-top: 0.9em;
    opacity: 1;
    background: #F39D12;
    -moz-box-shadow: 6px 7px 0px #e67e22;
    -webkit-box-shadow: 6px 7px 0px #e67e22;
    box-shadow: 6px 7px 0px #e67e22;
}

.generales_marinos div.saint_box:hover strong{
    color: #FDC717;
}

.generales_marinos div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.generales_marinos div.info{
    background-color: #F39D12;
}

/*********************************************************************************/
/* Dios Hades                                                     */
/*********************************************************************************/

.dios_hades #header{
    background-image: url('../images/caballeros/hades/hades_background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 5em 25em 5em 0em;
}

dropotron li.dios_hades a:hover{
    color: #8e44ad;
}

.dios_hades #nav{
    background: #8e44ad;
}

.dios_hades #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.dios_hades #nav > ul > li .circled{
    background: #fff;
    color: #8e44ad;
}

.dios_hades #nav > ul > li:hover .circled{
    background: #8e44ad;
    color: #fff;
}

.dios_hades #nav > ul > li:hover
{
    color: #8e44ad;
    background: #fff;
}

.dios_hades #nav a:hover{
    color: #8e44ad;
}

.dios_hades .dropotron li:hover{
    color: #8e44ad;
}

.dios_hades #logo{
    color: #8e44ad;
}

.dios_hades div.saint_box{
    background: #9b59b6;
    -moz-box-shadow: 6px 7px 0px #8e44ad;
    -webkit-box-shadow: 6px 7px 0px #8e44ad;
    box-shadow: 6px 7px 0px #8e44ad;
}

.dios_hades div.saint_box:hover strong{
    color: #2c3e50;
}

.dios_hades div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.dios_hades #content a, .dios_hades .byline{
    color: #8e44ad;
}

.dios_hades #content a:hover{
    color: #fff;
}

.dios_hades div.info{
    background-color: #9b59b6;
}

/*********************************************************************************/
/* Dioses Gemelos                                                                */
/*********************************************************************************/

.dioses_gemelos #header{
    background-image: url('../images/caballeros/hades/dioses_gemelos.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 8em 0em 8em 0em;
}

.dioses_gemelos .style1{
    background-image: url('../images/caballeros/hades/elysium.jpg');
    background-attachment: fixed;
    background-size: cover; 
}

.dioses_gemelos #content a, .dioses_gemelos .byline{
    color: #f1c40f;
}

.dioses_gemelos #content a:hover{
    color: #fff;
}

.dioses_gemelos div.info{
    background-color: #FDC717;
}


/*********************************************************************************/
/* Espectros de Hades                                                            */
/*********************************************************************************/
.dropotron li.espectros a:hover{
    color: #8e44ad;
}

.espectros #header{
    background-image: url('../images/caballeros/hades/espectros.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 8em 0em 8em 0em;
}

.espectros .style1{
    background-image: url('../images/caballeros/hades/inframundo.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.espectros #nav{
    background: #8e44ad;
}

.espectros #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.espectros #nav > ul > li .circled{
    background: #fff;
    color: #8e44ad;
}

.espectros #nav > ul > li:hover .circled{
    background: #8e44ad;
    color: #fff;
}

.espectros #nav > ul > li:hover
{
    color: #8e44ad;
    background: #fff;
}

.espectros #nav a:hover{
    color: #8e44ad;
}

.espectros .dropotron li:hover{
    color: #8e44ad;
}

.espectros #logo{
    color: #8e44ad;
}

.espectros div.saint_box{
    background: #9b59b6;
    -moz-box-shadow: 6px 7px 0px #8e44ad;
    -webkit-box-shadow: 6px 7px 0px #8e44ad;
    box-shadow: 6px 7px 0px #8e44ad;
}

.espectros div.saint_box:hover strong{
    color: #2c3e50;
}

.espectros div.saint_box:active{
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 7px;
}

.espectros #content a, .espectros .byline{
    color: #8e44ad;
}

.espectros #content a:hover{
    color: #fff;
}

.espectros div.info{
    background-color: #9b59b6;
}
/*********************************************************************************/
/* Historia                                                                      */
/*********************************************************************************/

.next_previous{
    cursor: pointer;
    height: 4em;
}

.bar{
    background: #f39c12; 
    background-image: linear-gradient(bottom, #F39D12 0%, #FDC717 44%);
    background-image: -o-linear-gradient(bottom, #F39D12 0%, #FDC717 44%);
    background-image: -moz-linear-gradient(bottom, #F39D12 0%, #FDC717 44%);
    background-image: -webkit-linear-gradient(bottom, #F39D12 0%, #FDC717 44%);
    background-image: -ms-linear-gradient(bottom, #F39D12 0%, #FDC717 44%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #F39D12),
        color-stop(0.44, #FDC717)
        );
    width: 100%;
    text-align: center;
}

.bar h3{
    color: #fff;
    font-weight: bold; 
}

.bar .icon:active{
    position: relative;
    top: 5px;
    left: 5px;
    -moz-box-shadow: 0px 0px 0px #fff;
    -webkit-box-shadow:  0px 0px 0px #fff;
    box-shadow: 0px 0px 0px #fff;
}

.bar a#return{
    height: 10px;
}

.historia .bar{
    padding: 0.5em 0!important;
}

/*****************************************/
/* Chapter Infierno                      */
/*****************************************/

.chapter_infierno #main a{
    color: #8e44ad;
    font-weight: bold;
}

.chapter_infierno #main a:hover{
    color: #FDC717;
}

.chapter_infierno strong{
    font-weight: bolder;
}

.dropotron li.chapter_infierno a:hover{
    color: #34495e;
}

.chapter_infierno #header{
    background-image: url('../images/historia/temporada1/espectros-caballeros.png');
    padding: 4em 0em 4em 0em;
}


.chapter_infierno .acto0 #main > .row h3{
    margin-top: 1em;
}

.chapter_infierno .capitulo1 .acto0 #main > .row h3{
    color: #fff;
}

.chapter_infierno .capitulo1 .acto0{
    background-image: url('../images/historia/temporada1/isla-reyna-muerte.jpg');
}

.chapter_infierno #nav{
    background: #34495e;
}

.chapter_infierno #nav > ul > li
{
    color: #fff;
    border: solid 1px transparent;
}
.chapter_infierno #nav > ul > li .circled{
    background: #fff;
    color: #bdc3c7;
}

.chapter_infierno #nav > ul > li:hover .circled{
    background: #8e44ad;
    color: #fff;
}

.chapter_infierno #nav > ul > li:hover
{
    color: #8e44ad;
    background: #fff;
}

.chapter_infierno #nav a:hover{
    color: #8e44ad;
}

.chapter_infierno .dropotron li:hover{
    color: #8e44ad;
}

.chapter_infierno #logo{
    color: #bdc3c7;
}

.chapter_infierno .bar{
    background: #34495e;
    color: #fff;
}
.chapter_infierno .bar .icon{
    background: #fff;
    color: #bdc3c7;
    -moz-box-shadow: 5px 5px 0px #bdc3c7;
    -webkit-box-shadow: 5px 5px 0px #bdc3c7;
    box-shadow: 5px 5px 0px #bdc3c7;
}

.chapter_infierno .bar .icon:hover
{
    color: #8e44ad;
    background: #fff;
}

.capitulo2 .acto3 .row .row .row:first-child{
    position: relative;
    top: 2em;
}
.capitulo2 .acto3 .row .row .row{
    position: relative;
    top: -3em;
}

.historia #main a{
    color: #7f8c8d;
}



/*********************************************/
/* Manga                                     */
/*********************************************/

.manga .style1, .historia .style1{
    padding: 0;
}

.manga .toggle, .historia .toggle{
    display: none;
}

.the_lost_canvas .u3 img{
    max-height: 200px;
}

.ui-accordion-header{
    padding: 0.5em 0em;
}

.ui-accordion-header, .ui-accordion-header .ui-icon{
    background: #FDD017;
    color: #fff;
    border: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.ui-accordion-header:hover{
    background: #fff;
    color: #FDC717;
    border: 1px #FDC717 solid;
}

.ui-accordion .ui-widget-content{
    border: none;
    margin-top: 2em;
    height: auto;
}

.ui-accordion .icon{
    position: relative;
    right: 1em;
}

/**************************************/
/* Episodio G                         */
/**************************************/

.manga_episodio_g #header{
    background-image: url('../images/manga/episodio_g_cover.jpg');
    background-size: contain;
    background-position: center center;
    background-attachment: local;
    padding: 8em 0em 8em 0em;
}

.episodio_g .bar .icon, .the_lost_canvas .bar .icon{
    background: #f9c902;
    color: #fff;
    font-size: 1em;
    -moz-box-shadow: 5px 5px 0px #f39d12;
    -webkit-box-shadow: 5px 5px 0px #f39d12;
    box-shadow: 5px 5px 0px #f39d12;
}

.episodio_g .bar .icon:hover, .the_lost_canvas .bar .icon:hover
{
    color: #F39D12;
    background: #fff;
}

.bar .icon:active{
    position: relative;
    top: 5px;
    left: 5px;
    -moz-box-shadow: 0px 0px 0px #fff;
    -webkit-box-shadow:  0px 0px 0px #fff;
    box-shadow: 0px 0px 0px #fff;
}

/**************************************/
/* The Lost Canvas                      */
/**************************************/

.manga_.the_lost_canvas #header{
    background-image: url('../images/manga/dorados_.the_lost_canvas.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: local;
    padding: 8em 0em 8em 0em;
}

/*********************************************************************************/
/* Gallery                                                                       */
/*********************************************************************************/

.galeria .style1{
    background: #000;
    color: #fff;
}

.galeria .items--small img{
    width: 250px;
    height: 166px;
}

.galeria .container .row .row{
    padding: 0;
    margin: 0;
}

.galeria .container h3{
    text-align: center;
    color: #fff;

}

#features .row:last-child{
    position: relative;
    top: -5em;
}

/*********************************************************************************/
/* AdPage                                                                       */
/*********************************************************************************/

.adpage .adsbuttons{
    margin-top: 1.8em!important;
    text-align: center;
}

.adpage .adsbuttons .icon{
    color: #fff;
    background: #FDD017;
    padding: 0.4em 2em!important;
    font-size: 3em;
    border-radius: 10px;
}

.adpage .adsbuttons .icon:hover{
    color: #f1c40f;
    background: #fff;
    border: 1px #FDC717 solid;
}


.adpage .contact, .adpage .contact p{
    text-align: center;
}

.adpage .contact .icons{
    background: #ecf0f1;
}

.adpage #historia .adsbuttons .icon{
    color: #bdc3c7;
    background: #2c3e50;

}

.adpage #historia .adsbuttons .icon:hover{
    color: #8e44ad;
    background: #fff;
    border: 1px #8e44ad solid;
}

.ad span h1{
    opacity: 0;
}

.leaderboard{
    width: 800px;
    margin: auto;
}

/*********************************************************************************/
/* Conctat                                                                       */
/*********************************************************************************/

.icon-facebook:before{
    color: #3b5998;
}

.icon-twitter:before{
    color: #00a0d1;
}

.icon-pinterest:before{
    color: #910101;
}

.icon-google-plus:before{
    color: #c4302b;
}

.icon-tumblr:before{
    color: #34526f;
}

.logonoticias{
    background: #000!important;
    opacity: 0.7;
    padding-top: 2em;
}

/*********************************************************************************/
/* Anime                                                                       */
/*********************************************************************************/

/*********************************************************************************/
/* Omega                                                                       */
/*********************************************************************************/

.omega .style1, .omega .style1 h3, .omega .style1 h2{
    color: #fff;
}

.omega #header{
    background-image: url('../images/anime/omega.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 11em 0em 11em 0em;
}

.omega .style1{
    background-image: url('../images/anime/omega-background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.omega #main h2{    
    color: #f1c40f;
    background: #000;
    padding: 1em;
    opacity: 0.8;
    
}

.omega #accordion h3{
    font-size: 0.8em;
    text-align: left;
}

.omega #accordion .avance p{
    font-size: 0.7em;
}

.omega .ui-accordion-content{
    height: 10em;
    margin: 0.5em;
    padding: 0.5em;
}

.omega #main h2{
    font-size: 1.8em;
}

.omega .avance a{
    color: #FDC717;
    font-weight: bolder;
    margin: 0.5em;
    background-color: #000;
    padding: 0.5em;
}

.omega .avance a:hover{
    color: #fff;
    background-color: #00a0d1;
}

.omega .avance p{
    margin-top: 1em;
}
.omega .navbuttons{
    margin: 2em;
}

.omega .navbuttons .icon{
    background: #00a0d1;
    color: #fff;
    font-size: 1.5em;
    padding: 1em 3em;
}
.omega .navbuttons .icon:hover{
    background: #fff;
    color: #00a0d1;
    border: 1px #00a0d1 solid;
}

/*********************************************************************************/
/* The Lost Canvas                                                               */
/*********************************************************************************/

.the_lost_canvas .style1 p, .the_lost_canvas .style1 h3, .the_lost_canvas .style1 h2{
    color: #fff;
    background: #000;
    opacity: 0.8;
    padding: 0.5em;
}

.the_lost_canvas #header{
    background-image: url('../images/anime/the_lost_canvas.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    padding: 11em 0em 11em 0em;
}

.the_lost_canvas .style1{
    background-image: url('../images/anime/the_lost_canvas-background.jpg');
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}

.the_lost_canvas #main h2{    
    color: #f1c40f;
    background: #000;
    padding: 1em;
    opacity: 0.8;
    
}

.the_lost_canvas #accordion h3{
    font-size: 0.8em;
    text-align: left;
}

.the_lost_canvas #accordion .avance p{
    font-size: 0.7em;
}

.the_lost_canvas .ui-accordion-content{
    height: 10em;
    margin: 0.5em;
    padding: 0.5em;
}

.the_lost_canvas #main h2{
    font-size: 1.8em;
}

.the_lost_canvas .avance a{
    color: #FDC717;
    font-weight: bolder;
    margin: 0.5em;
    background-color: #000;
    padding: 0.5em;
}

.the_lost_canvas .avance a:hover{
    color: #fff;
    background-color: #00a0d1;
}

.the_lost_canvas .avance p{
    margin-top: 1em;
}
.the_lost_canvas .navbuttons{
    margin: 2em;
}

.the_lost_canvas .navbuttons .icon{
    background: #00a0d1;
    color: #fff;
    font-size: 1.5em;
    padding: 1em 3em;
}
.the_lost_canvas .navbuttons .icon:hover{
    background: #fff;
    color: #00a0d1;
    border: 1px #00a0d1 solid;
}

