/*
* Demo Styles
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300);


.demo-wrapper {
  padding: 1em;
}

.demo-wrapper .style1{    
  background: #000;;
}


.infobar {
  font-size: 20px;
  padding: 1em
}

.infobar p {
  text-align: center;
  margin-top: 1em
}

.credit,
.tips {
  text-align: center
}

.credit {
  margin-top: 1em
}

.credit a {
  text-decoration: underline
}
